/config/
config/autoload/*.local.php
/install.bat
/update.bat
/cmd.bat
.settings/
public/.htaccess
db/
/composer.lock
/git-commands.txt
/composer.phar
/vendor/doctrine/doctrine-module/bin/cmd.bat
/vendor/doctrine/doctrine-module/bin/commands.txt
/data/*
/public/uploads/bank-logo/*
/build/*