@CHARSET "UTF-8";
.table-responsive .nav-tabs li.active a{
	background-color: #F5F5F5 !important;
}

.affix {
  position: fixed;
  right: inherit;
  max-width: 250px;
  top: 60px;
}
.affix-bottom {
  position: absolute;
  max-width: 250px;
  top: auto;
}
.affix-top {
	max-width: 250px;
}

#produktKtofuehrKostFllg{
	padding-left: 0px !important;
	padding-right: 0px !important;
}