@CHARSET "UTF-8";

body .modal-dialog {
	width: 50%;
}

body .table-responsive{
	overflow:auto;
}

.form-control.kondition-input{
	min-width: 60px;
}

.form-control.kondition-risikoklasse{
	max-width: 30px;
	min-width: 30px;
}

.tab-pane table td,
.tab-pane table th{
	vertical-align: middle !important;
}

.modal-progress-bar{
	width: 100%;
}

.table-responsive .nav-tabs li.active a{
	background-color: #F5F5F5 !important;
}

.affix {
  position: fixed;
  top: 60px;
}
.affix-bottom {
  position: absolute;
  top: auto;
}
.affix-top {
}