@CHARSET "UTF-8";
body{
	background-color: #EEEEEE;
    padding-bottom: 40px;
    padding-top: 140px
}

.form-login {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-control{
	margin-bottom: 10px;
}
.form-login-heading {
	margin-bottom: 20px;
}